<%- include('../partials/header.ejs') %>
  <div class="container">
    <h1> Dashboard </h1>
      <div class="row my-5 gap-3 gap-md-0">
      <% project.forEach((project) => { %>
        <% if(project.user != req.user.id) { %>
        <div class="col-12 col-md-6 col-lg-3 align-items-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= project.title %></h5>
              <p class="card-text text-truncate"><%= project.desc %></p>
              <%
                const monthNames = [
                      'January', 'February', 'March',
                      'April', 'May', 'June', 'July',
                      'August', 'September', 'October',
                      'November', 'December'
                  ];
                const d = project.creationDate.getDate();
                const m = monthNames[project.creationDate.getMonth()];
                const y = project.creationDate.getFullYear();
              %>
              <p class="card-text"><small> <%= d %> <%= m %> <%= y %> </small></p>
              <a href="teacher/projects/<%=project.id%>" class="card-link">Review</a>
            </div>
          </div>
        </div>
        <% } %>
    <% }) %>
  </div>
  </div>

<%- include('../partials/footer.ejs') %>