<%- include('../partials/header') %>

  <div class="p-5 mb-4 rounded-3">
      <div class="container py-5">
        <% if(message.length > 0) { %>
            <div class="alert alert-success">
            <%= message %>
            </div>
        <% } %>
        <div class="row mb-5">
            <h1 class="display-5 fw-bold">Title: <%= project.title %></h1>
            <p class="col-md-12 mt-5">Description: <%= project.desc %></p>
            <hr>
        </div>
        <div class="row">
            <div class="col-6">
                <h6>Given Grades</h6>
                <% project.gradesFromStudents.forEach((grade) => { %>
                    <span> <%= grade.grade %> </span>
                <% }) %>
            </div>
            <% if(project.gradeFromTeacher){ %>
                <div class="col-6">
                    <h6>JUSTICE</h6>
                    <span> <%= project.gradeFromTeacher %> </span>
                </div>
            <% } %>
            
        </div>
        <hr>
            <% let max = 0; let min = 100; %>
          <% if(project.gradesFromStudents.forEach((grade) => {  %>
                <% if(grade.grade > max) { %>
                   <% max = grade.grade; %>
                <% } %>
                <% if(grade.grade < min) { %>
                    <% min = grade.grade; %>
                <% } %>
         <% }))  %>
         <% if(max-min>70){ %>
            <div class="row mt-5">
                <h3> Seems like there is an injustice </h3>
                <form action="finalGrade" method="post" class="my-3">
                    <h6 class="mb-3"> Give Final Grade </h5>
                    <div class="row g-3 align-items-center mb-2">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Grade</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" id="inputPassword6" name="finalGrade" min="0" max="100" aria-describedby="passwordHelpInline" class="form-control">
                        </div>
                        <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            Must be in range 0-100.
                        </span>
                        </div>
                    </div>
                    <button class="btn btn-success btn-sm" type="submit" name="id" value="<%= project._id %>">Grade</button>
                </form>
            </div>
         <% } else { %>
            <div class="row mt-5">
                <h3> Seems fine </h3>
                <% let avg = 0; %>
                <% project.gradesFromStudents.forEach((grade) => { %>
                <% avg = avg + grade.grade; %>
                <% }) %>
                <% avg = (avg)/(project.gradesFromStudents.length) %>
                <span><b>Current average:</b>  <%= avg %></span>
            </div>
         <% } %>
          
      </div>
  </div>

<%- include('../partials/footer') %>