<%- include('../partials/header') %>
    
  <div class="p-5 mb-4 rounded-3">
      <div class="container py-5">
       <% if(message.length > 0) { %>
            <div class="alert alert-success">
            <%= message %>
            </div>
        <% } %>
         <div class="row mb-5">
            <h1 class="display-5 fw-bold">Title: <%= project.title %></h1>
            <p class="col-md-12 mt-5">Description: <%= project.desc %></p>
            <hr>
        </div>
        <div class="row">
            <div class="col-6">
                <% if(project.gradesFromStudents.length != 0){ %>
                    <h6>Given Grades</h6>
                <% } %>
                <% project.gradesFromStudents.forEach((grade) => { %>
                    <span> <%= grade.grade %> </span>
                <% }) %>
            </div>
            <% if(project.gradeFromTeacher){ %>
                <div class="col-6">
                    <h6>Your teacher decided to gave justice</h6>
                    <p> <%= project.gradeFromTeacher %></p>
                </div>
            <% } %>
        </div>
         <% if(project.gradesFromStudents.length != 0){ %>
                    <hr>
            <% } %>
          <% if(project.user == req.user.id) { %>
                    <div class="alert alert-danger" role="alert">
                        <small>You cannot grade your project</small>
                    </div>
                    <hr>
                    <% if(project.comments.length != 0){ %>
                        <h4>Comments</h4>
                        <ul>
                        <% project.comments.forEach((comment) => { %>
                            <li><%= comment.comment %></li>
                        <% }) %>
                        </ul>
                    <% } %>
            <% } else { %>
                    <% let b=0; %>
                    <% project.gradesFromStudents.forEach((grade) => { %>
                       <% if(grade.ratedUser == req.user.id) {b = b+1} %>
                    <%  }) %>
                    <% if(b != 0) { %>
                        <div class="alert alert-danger" role="alert">
                        You can only score once.
                        </div>
                        
                    <% } else { %>
                        <form action="submitGrade" method="post" class="my-5">
                            <h5 class="mb-3"> Rate it </h5>
                            <div class="row g-3 align-items-center mb-2">
                                <div class="col-auto">
                                    <label for="inputPassword6" class="col-form-label">Grade</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" name="grade">
                                </div>
                                <div class="col-auto">
                                    <span id="passwordHelpInline" class="form-text">
                                    You cannot change your score later, choose wisely.
                                    </span>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm" type="submit" name="id" value="<%= project._id %>">Grade</button>
                        </form>
                    <% } %>
                    <hr>
                    <% project.comments.forEach((comment) => { %>
                        <% if(comment.commentedUser == req.user.id){ %>
                        <h6> Your Comments </h6>
                         <ul>
                        <form action="deleteComment" method="POST">
                            <li><input type="checkbox" name="checkbox" value="<%= comment._id%>" onChange="this.form.submit()"/>
                            <%=  comment.comment  %></li>
                            <input type="hidden" name="projectId" value="<%= project._id %>" />
                        </form>
                        </ul>
                         <hr>
                       <% } %>
                    <% }) %>
                    
                    <form action="submitComment" method="post" class="my-5">
                            <h5 class="mb-3"> Add Comment </h5>
                            <div class="row g-3 align-items-center mb-2">
                                <div class="col-12">
                                    <input type="textarea" id="comment" class="form-control" name="comment">
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm" type="submit" name="commentId" value="<%= project._id %>">Add</button>
                    </form>
            <% } %>
      </div>
  </div>

<%- include('../partials/footer') %>